

body {
  background-color: #F9F5EB;
  font-family: inherit;
  align-items: center;
}

  h1 {
    padding: 10px;
    width: auto;
    text-align: center;
}

form {
  background-color: #F6F1F1;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form__control {
  margin: 10px;
  text-align: left;

}

.form__control label {
  margin: inherit;
   display: inline-flex;
}

.form__control input,
.form__control select,
.form__control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  width: 95%;
}

.form__control input [ type="radio"] {
  display: inline-flex;
  width: auto;
}

button {
  background-color: #05c46b;
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 80;
  margin-top: 50px;
  margin-bottom: 50%;
  align-items: center;
}
